rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userPic} {
      allow read: if (request.auth.uid + '.png') == userPic;
      allow write: if (request.auth.uid + '.png') == userPic
                      && request.resource.size < 5 * 1024 * 1024
                      && request.resource.contentType.matches('image/png');
    }
  }
}
