<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vulnerable Application</title>
</head>
<body>
    <div>
        {% for user in users %}
            <div>
                {{ user['id'] }}<br>
                {{ user['created'] }}<br>
                {{ user['name'] }}<br>
                {{ user['email'] }}<br>
                {{ user['password'] }}<br>
                {{ user['secret'] }}<br>
                <img src="data:image/png;base64, {{ user['image'].decode('utf-8') }}"/>
            </div>
        {% endfor %}
    </div>
</body>
</html>
