<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vulnerable Application</title>
</head>
<body>
    <div>
        <h1>Hello, {{ name|safe }}!</h1>
        <div>
            Your secret phrase is: <b>{{ secret|safe }}</b><br>
            Here is your secret image:<br>
            <img src="data:image/png;base64, {{ image.decode('utf-8')|safe }}" alt="User image"/>
            <br><br>
            <a href="/" style="margin: 1rem;">Back</a>
            <a href="/general" style="margin: 1rem;">
                <button>See all users</button>
            </a>
        </div>
    </div>
    <hr>
    <div>
        <form method="post" enctype="multipart/form-data">
          <label for="phrase">Upload a new secret phrase: </label>
          <input id="phrase" name="phrase" type="text"/><br><br>
          <label for="file">Upload a new secret image: </label>
          <input id="file" name="file" type="file" accept="image/png, image/gif, image/jpeg"/><br><br>
          <button>Upload</button>
        </form>
    </div>
</body>
</html>
