<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>Vulnerable Application</title>
</head>
<body>
    <h1>Debug page</h1>
    Listing all users... 
    {% for user in users %}
        <div>
            {{ user["name"]|safe }}'s info:
            Email: {{ user["email"]|safe }} <br>
            Password: {{ user["password"]|safe }} <br>
            Secret phrase: {{ user["secret"]|safe }} <br>
            <img src="data:image/png;base64, {{ user['image'].decode('utf-8')|safe }}" width="100"/>
            <hr>
        </div>
    {% endfor %}

        
</body>
</html>