<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vulnerable Application</title>
</head>
<body>
    <div>
        <h1>Hello, {{ name|safe }}!</h1>
        <div>
            Your secret phrase is: {{ secret|safe }}<br>
            Here is your secret image:<br>
            <img src="data:image/png;base64, {{ image.decode('utf-8')|safe }}" alt="User image"/><br>
            <a href="/" style="margin: 1rem;">Back</a>
            <a href="/general" style="margin: 1rem;">
                <button>See all users</button>
            </a>
        </div>
    </div>
</body>
</html>
